body { 
    font-family: 'Times New Roman', Times, serif;
    margin: 20px; 
}

.controls { 
    display: auto; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    align-items: stretch;
}

input { 
    margin: 5px; 
    padding: 5px; 
}
button { 
    padding: 5px 10px; 
    margin: 5px; 
}
table { 
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 20px; 
}
th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}
th { 
    background-color: #f2f2f2; 
}
.weak { 
    background-color: rgba(0, 225, 255, 0.719);  
}
.error {
    color: red;     
}
.stats { 
    margin-top: 20px; 
    font-weight: bold; 
}